.pelicula-single {
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    transition: transform 0.1s;
    padding: 16px;
    text-align: center;
}

.pelicula-single:hover {
    transform: scale(1.05);
}

.pelicula-single img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.pelicula-single h2 {
    font-size: 15px;
    margin: 8px;
    color: white;
}

.pelicula-single p {
    color: white;
}

.more {
    text-decoration: none;
    cursor: pointer;
}

.extra {
    background-color: #3c3c3c;
    padding: 8px;
    border-radius: 4px;
    margin: 8px 0;

}

button {
    background-color: #2a91ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.detalleLink {
    text-decoration: none;
    color: white;

}