.pelicula-single{
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.pelicula-single img{
    width: 100%;
    margin-bottom: 20px; 
}
.pelicula-single:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.pelicula-single p {
    margin: 3px 0;
}
.pelicula-single h2 {
    margin: 2px 0;
}
.more{
    color: blue;
    text-align: right;
}
.delete {
    color: red;
    text-align: right;
}
.more:hover,
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}